<section class="card">
  <h1>Create your account</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <p>
      <%= f.label :email %><br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
    </p>

    <p>
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <span class="muted">(<%= @minimum_password_length %> characters minimum)</span>
      <% end %><br>
      <%= f.password_field :password, autocomplete: "new-password", required: true %>
    </p>

    <p>
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true %>
    </p>

    <p>
      <%= render "devise/shared/turnstile" %>
    </p>

    <p>
      <%= f.submit "Sign up" %>
    </p>
  <% end %>

  <%= render "devise/shared/links" %>
</section>
